@{
    ViewBag.Title = "Giới thiệu";
   
}

     <link rel="stylesheet" href="~/css/about.css" asp-append-version="true" />
  <div style="background-color:rgb(215, 237, 234);width:100%;height:300px;"></div>
<div style="background-color:rgb(170, 181, 179);width:100%;height:70px;"></div>
    <div class=" mt-4">
        <div class="row">

           
            <div class="col-md-8">
                <div class="box">
                    <h4 class="box-title">GIỚI THIỆU</h4>
                    <p><b>Công ty cổ phần thiết bị công nghệ cao TM</b></p>
                    <p>Thành lập tháng 3 năm 2004</p>
                    <p><b>Tên viết tắt:</b> TM Hitech.,JSC</p>
                    <p>TM Hitech.,JSC là công ty hoạt động trong lĩnh vực kinh doanh thiết bị y tế và thiết bị chăm sóc sức khỏe gia đình của nhiều thương hiệu lớn đẳng cấp. Trải qua thời gian và kinh nghiệm làm nghề, tìm hiểu thị trường, nhu cầu của khách hàng, TM Hitech đã và đang tạo được ấn tượng mạnh mẽ với uy tín, chất lượng sản phẩm và dịch vụ được nhiều người trong ngành đánh giá cao, chuyên viên nghề, có nhiều kinh nghiệm.
</p>

                    <div class="row my-3">
                        <div class="col-4"><img src="~/Content/images/intro1.jpg" class="img-fluid intro-img" /></div>
                        <div class="col-4"><img src="~/Content/images/intro2.jpg" class="img-fluid intro-img" /></div>
                        <div class="col-4"><img src="~/Content/images/intro3.jpg" class="img-fluid intro-img" /></div>
                    </div>

                    <h5 class="section-title">Hoạt động</h5>
                    <ul>
                        <li>Thiết bị chẩn đoán hình ảnh</li>
                        <li>Thiết bị xét nghiệm</li>
                        <li>Thiết bị phòng mổ</li>
                    </ul>

                    <h5 class="section-title">Cam kết</h5>
                    <p>- Cam kết mang đến cho khách hàng những gì tốt nhất về sự phục vụ, năng lực nghề nghiệp, kinh nghiệm thực tế, bản lĩnh nghề nghiệp và phong cách làm việc chuyên nghiệp<br />
- TM Hitech luôn lắng nghe và thấu hiểu nhu cầu của khách hàng, từ đó tư vấn những sản phẩm chuyên nghiệp, hiệu quả với giá cả cạnh tranh<br />
- TM Hitech cam kết mang đến cho quý khách hàng những sản phẩm hoàn hảo, chuyên nghiệp, hiệu quả với giá cả cạnh tranh<br />
- Sự sáng tạo và tinh thần nhiệt huyết của đội ngũ chuyên gia sẽ luôn mang đến sự thỏa mãn cho quý khách hàng<br />
</p>
                </div>
            </div>

         
            <div class="col-md-4">
                <div class="box mb-4">
                    <h4 class="box-title">SẢN PHẨM NỔI BẬT</h4>
                    <ul class="sidebar-list">
                        <li><img src="~/Content/images/sp1.jpg" /><a href="#"></a></li>
                        <li><img src="~/Content/images/sp2.jpg" /><a href="#"></a></li>
                        <li><img src="~/Content/images/sp3.jpg" /><a href="#"></a></li>
                    </ul>
                </div>

                <div class="box">
                    <h4 class="box-title">TIN NỔI BẬT</h4>
                    <ul class="news-list">
                        <li><a href="#">Khi bị mỏi mắt cần làm gì?</a><span>23-02-2018</span></li>
                        <li><a href="#">Cách chăm sóc sức khỏe</a><span>10-03-2018</span></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
