
@{
    ViewData["Title"] = "Recruitment";
}
<center><div style="background-color:rgb(215, 237, 234);width:1600px;height:300px;"></div>
<div style="background-color:rgb(170, 181, 179);width:1600px;height:70px;"></div></center>
