@{
    ViewData["Title"] = "Services";
}
<div style="background-color:rgb(215, 237, 234);width:100%;height:300px;"></div>
<div style="background-color:rgb(170, 181, 179);width:100%;height:70px;"></div>