  .box {
            border: 1px solid #ddd;
            padding: 15px;
            background: #fff;
            padding-left: 50px;
        }

        .box-title {
            font-size: 16px;
            font-weight: bold;
            border-bottom: 2px solid #0d6efd;
            margin-bottom: 12px;
        }

        .intro-img {
            border: 1px solid #ddd;
            padding: 3px;
            width: 100%;
        }

        .sidebar-list,
        .news-list {
            list-style: none;
            padding: 0;
        }

        .sidebar-list li {
            display: flex;
            margin-bottom: 10px;
            align-items: center;
        }

        .sidebar-list img {
            width: 60px;
            margin-right: 10px;
            border: 1px solid #ddd;
        }

        .news-list span {
            font-size: 12px;
            color: #888;
        }