html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}


.menu {
    display: flex;
}

.menu li a {
    display: block;
    padding: 14px 16px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color: #333;
    position: relative;
}

.menu li a:hover {
    color: #004a9f;
}

.menu li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background: #004a9f;
    transition: width .25s ease;
}

.menu li a:hover::after {
    width: 100%;
}
a {
    text-decoration: none;
}
